@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

code {
	font-family: "Courier New", Courier, monospace, sans-serif;
	text-align: left;
	color: #555;
}

pre code {
	line-height: 1.6em;
	font-size: 12px;
}

pre {
	padding: 0.1em 0.5em 0.3em 0.7em;
	border-left: 11px solid #ccc;
	margin: 1.7em 0 1.7em 0.3em;
	overflow: auto;
	width: 93%;
}