<div class="container-fluid">
    <div style="text-align:center">
        <h1>ng-form-rules sandbox</h1>
    </div>

    <div class="show-errors">
        <form [formGroup]="form">
            <div class="form-group">
                <label for="thirdNameLength">Length of 3rd Person's Name</label>
                <input type="number" class="form-control" id="thirdNameLength" formControlName="thirdNameLength" />
                <samples-json-errors [control]="form.get('thirdNameLength')"></samples-json-errors>
            </div>
        
            <div class="form-group">
                <label for="nameToAdd">Person To Add</label>
                <input type="text" class="form-control" id="nameToAdd" formControlName="nameToAdd" />
                <samples-json-errors [control]="form.get('nameToAdd')"></samples-json-errors>
            </div>
            <button type="button" class="btn btn-sm btn-primary"
                (click)='addPerson(form.get("nameToAdd").value)' [disabled]="form.get('nameToAdd').errors">Add Person</button>
        
            <h5>People</h5>
            <div formArrayName="people">
                <div class="form-group" *ngFor="let name of form.get('people').controls; let i=index" [formGroupName]="i">
                    <label for="name-{{i}}">Person {{i + 1}}</label>
                    <input type="text" class="form-control" id="name-{{i}}" formControlName="name" />
                    <samples-json-errors [control]="name.get('name')"></samples-json-errors>
                </div>
            </div>
        </form>
    </div>
</div>