<div class="container-fluid">
  <div style="text-align:center">
    <h1>ng-form-rules Samples</h1>
  </div>

  <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input no-validation" id="showErrors" [(ngModel)]='showErrors'>
      <label class="custom-control-label" for="showErrors">Display Errors</label>
    </div>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active': activeSample == 'register'}" (click)="activeSample = 'register'" href="#">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active': activeSample == 'contact'}" (click)="activeSample = 'contact'" href="#">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active': activeSample == 'order'}" (click)="activeSample = 'order'" href="#">Order</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active': activeSample == 'adhoc'}" (click)="activeSample = 'adhoc'" href="#">Adhoc</a>
    </li>
  </ul>

  <div *ngIf="activeSample == 'register'">
    <h3>Registration</h3>
    <form [formGroup]="registerForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" formControlName="username" />
        <samples-json-errors [hidden]='!showErrors' [control]="registerForm.get('username')"></samples-json-errors>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" id="password" formControlName="password" />
        <samples-json-errors [hidden]='!showErrors' [control]="registerForm.get('password')"></samples-json-errors>
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="text" class="form-control" id="confirmPassword" formControlName="confirmPassword" />
        <samples-json-errors [hidden]='!showErrors' [control]="registerForm.get('confirmPassword')"></samples-json-errors>
      </div>

      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="acceptTerms" formControlName="acceptTerms">
        <label class="custom-control-label" for="acceptTerms">Accept Terms</label>
      </div>
      <samples-json-errors [hidden]='!showErrors' [control]="registerForm.get('acceptTerms')"></samples-json-errors>

      <button class="btn btn-primary" type="submit">Register</button>
    </form>
  </div>

  <div *ngIf="activeSample == 'adhoc'">
    <h3>Adhoc</h3>
    <form [formGroup]="adhocForm">
      <div class="form-group">
        <label for="repositoryName">Repository Name</label>
        <input type="text" class="form-control" id="repositoryName" formControlName="repositoryName" />
        <samples-json-errors [hidden]='!showErrors' [control]="adhocForm.get('repositoryName')"></samples-json-errors>
      </div>

      <div class="form-group">
        <label for="random">Random</label>
        <input type="text" class="form-control" id="random" formControlName="random" />
        <samples-json-errors [hidden]='!showErrors' [control]="adhocForm.get('random')"></samples-json-errors>
      </div>
    </form>
  </div>

  <!-- <h3>Sandbox</h3>
  <form [formGroup]="sampleFormGroup">
    <input type="text" id="title" name="title" formControlName="title" />
    <pre><code>{{sampleFormGroup.get('title').errors | json}}</code></pre>

    <input type="number" id="pageCount" name="pageCount" formControlName="pageCount" />
    <pre><code>{{sampleFormGroup.get('pageCount').errors | json}}</code></pre>

    <h3>Author</h3>
    <div formGroupName="author">
      <input type="text" id="name" name="name" formControlName="name" />
      <pre><code>{{sampleFormGroup.get('author.name').errors | json}}</code></pre>
    </div>

    <h3>Similar Books</h3>
    <div formArrayName="similarBooks">
      <div *ngFor="let books of sampleFormGroup.get('similarBooks').controls; let i=index" [formGroupName]="i" >
        <input type="text" id="title" name="title" formControlName="title" />
      </div>
    </div>

    <h3>Favorite Book Sets</h3>
    <pre><code>{{sampleFormGroup.get('favoriteBookSets').errors | json}}</code></pre>
    <button type="button" (click)="addBookSet()">Add Book Set</button>

    <div formArrayName="favoriteBookSets">
      <div *ngFor="let set of sampleFormGroup.get('favoriteBookSets').controls; let i=index" [formGroupName]="i" >
        <button type="button" (click)="addBookInSet(i)">Add Book In Set</button>
        <div *ngFor="let book of set.controls; let j=index" [formGroupName]="j">
          <input type="text" formControlName="title" />
        </div>
      </div>
    </div>

    <pre><code>{{sampleFormGroup.value | json}}</code></pre>
    
  </form> -->
</div>