<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<form [formGroup]="bookFormGroup">
    <label>Title</label>
    <input name="title" formControlName="title" />
    <pre>{{ bookFormGroup.get('title')?.errors | json }}</pre>

    <label>Page Count</label>
    <input name="pageCount" type="number" formControlName="pageCount" />
    <pre>{{ bookFormGroup.get('pageCount')?.errors | json }}</pre>

    <label>Realtime</label>
    <input name="realtime" type="number" formControlName="realtime" />
    <pre>{{ bookFormGroup.get('realtime')?.errors | json }}</pre>

    <pre>{{ bookFormGroup.status }}</pre>
    <button type="submit" [disabled]="!bookFormGroup.valid">Submit</button>
</form>

