################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
.vscode/
artifacts/


ng-form-rules/**/dist/
**/node_modules
ng-form-rules/package-lock.json**/npm-debug.log*
