<div class="container-fluid">
    <div style="text-align:center">
        <h1>ng-form-rules sandbox</h1>
    </div>

    <button type="button" (click)="addPerson()">Add Person</button>

    <div class="show-errors">
        <form [formGroup]="form">
            <h5>People</h5>
            <div formArrayName="people">
                <div class="form-group" *ngFor="let person of form.get('people').controls; let i=index" [formGroupName]="i">
                    <label for="name-{{i}}">Person {{i + 1}}</label>
                    <input type="text" class="form-control" id="name-{{i}}" formControlName="name" />
                    <playground-json-errors [control]="person.get('name')"></playground-json-errors>
                </div>
            </div>
        </form>
    </div>
</div>