<div class="container-fluid">
    <div style="text-align:center">
        <h1>ng-form-rules sandbox</h1>
    </div>

    <div class="show-errors">
        <form [formGroup]="form">
            <div>
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" formControlName="name" />
                {{form.get('name').status}}
                <playground-json-errors [control]="form.get('name')"></playground-json-errors>
            </div>

            <div>
                <label for="age">age</label>
                <input type="number" class="form-control" id="age" formControlName="age" />
                {{form.get('age').status}}
                <playground-json-errors [control]="form.get('age')"></playground-json-errors>
            </div>
        </form>
    </div>
</div>